.App {
  text-align: center;
  position: relative;
}

:root {
  --background: hsl(271, 94%, 20%);
  --background-item: rgba(255, 255, 255, 0.1);
  --btn-color:  #0450F2;
  --font-logo: #FBFAFA;
  --font-nav: #F5F5F5;
  --font-main: #FFFFFF;
  --font-family: 'exo'
}


